.row {
	margin-top: 2%;
	border: 0px dotted red;
}

.logout {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 15px 20px 10px 30px;
	border-bottom-left-radius: 25px;
	border-bottom: double;
}

.title {
	color: dimgrey;
}

blockquote {
	margin-top: 2%;
}

/*----- Accordion -----*/
.accordion {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	background: #f7f7f7;
}
/*----- Section Titles -----*/
.accordion-section-title {
	width: 100%;
	padding: 15px;
	display: inline-block;
	background: #337AB7;
	color: #fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
	opacity: 0.8;
	text-decoration: none;
	transition: 0.5s;
	text-shadow: 2px 2px 2px #000;
	color: #fff;
	background: #174b70;
}
/*----- Section Content -----*/
.accordion-section-content {
	padding: 15px;
	display: none;
}
/*----- Computer -----*/
@media screen and (min-width : 500px) {
	table {
		margin-left: 4%;
	}
}
/*----- Phone -----*/
@media screen and (max-width : 500px) {
	table {
		font-size: 10px;
	}
	h3.title {
		font-size: 15px;
	}
	body {
		padding: 2%
	}
	.table {
		margin-left: 8%;
	}
	.addRecord {
		margin-top: 4%;
	}
}